<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.join.android.app.common"
          android:versionCode="5"
          android:versionName="5.0">

    <uses-sdk
            android:maxSdkVersion="17"
            android:minSdkVersion="10"
            android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Include next permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
            android:label="@string/app_name"
            android:icon="@drawable/icon"
            android:name="com.MApplication_"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:hardwareAccelerated="true"
            android:largeHeap="true">
        <activity android:name=".activity.MyActivity_">

        </activity>

        <activity android:name=".activity.MyListActivity_"/>
        <activity android:name=".activity.ActivityWithExtra_"/>
        <activity android:name=".activity.RestFulActivity_"/>
        <activity android:name=".activity.DBActivity_"/>

        <activity android:name=".activity.PrefActivity_"/>



        <activity android:name=".activity.ImageCacheDetailActivity_"/>
        <activity android:name=".activity.ProgressActivity_"/>

        <activity android:name=".activity.ImageCacheActivity_">

        </activity>

        <activity android:name=".activity.MyFragmentActivity_">

        </activity>

        <activity android:name=".activity.MainActivity_">

        </activity>
        <activity android:name="com.join.mobi.activity.SplashActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.join.mobi.activity.PortalActivity_"/>
        <activity android:name="com.join.android.app.common.activity.VideoActivity_"/>
        <activity android:name="com.join.mobi.activity.LiveCourseActivity_"/>
        <activity android:name="com.join.mobi.activity.LiveCourseDetailActivity_" android:screenOrientation="portrait"  android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity android:name="com.join.mobi.activity.ExamIntroActivity_"/>
        <activity android:name="com.join.mobi.activity.IntroActivity_"/>
        <activity android:name="com.join.mobi.activity.ExamActivity_"/>
        <activity android:name="com.join.mobi.activity.ExamListActivity_"/>
        <activity android:name="com.join.mobi.activity.ExamResultActivity_"/>
        <activity android:name="com.join.mobi.activity.ShareActivity_"/>
        <activity android:name="com.join.mobi.activity.DownloadingActivity_"/>
        <activity android:name="com.join.mobi.activity.LocalActivity_"/>
        <activity android:name="com.join.mobi.activity.LocalCourseActivity_"/>
        <activity android:name="com.join.mobi.activity.NoticeActivity_"/>
        <activity android:name="com.join.mobi.activity.LiveActivity_"/>
        <activity android:name="com.join.mobi.activity.LocalCourseDetailActivity_" android:screenOrientation="portrait" android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity android:name="com.join.mobi.activity.VideoWebViewActivity_"></activity>
        <activity android:name="com.join.mobi.activity.VideoFullScreen_" android:screenOrientation="landscape" >

        </activity>

        <service android:name="com.join.mobi.service.UpdateService"/>

    </application>

</manifest>